* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#wrap {
  height: 100%;
}

#wrap .inner {
  position: relative;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  background-color: pink;
}

#wrap .inner .top-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
