* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal .box {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  background-color: #fff;
}

.modal .box .content {
  padding: 30px 10px;
  font-size: 14px;
  color: #999999;
}

.modal .box .content h1 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #1a1a1c;
}

.modal .box .button-box {
  display: table;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

.modal .box .button-box .button {
  display: table-cell;
  table-layout: fixed;
  padding: 15px;
  border-left: 1px solid #ebebeb;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
