* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.facilities-wrap {
  margin: 0 10px;
  .list {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    .item {
      display: table-cell;
      list-style: none;
      i {
        display: block;
        margin-bottom: 10px;
        border-left: 1px solid #999999;
      }
      &:first-child {
        &.item i {
          border-left: 0;
        }
      }
    }
  }
}

.sp-img {
  font-size: 0;
  &:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 47px;
    background: {
      image: url("images/sp-common.png");
      size: 230px;
      repeat: no-repeat;
    };
  }
  &.sp-wifi:before {
    background-position: -2px -4px;
  }
  &.sp-chicken:before {
    background-position: -115px -61px;
  }
  &.sp-spa:before {
    background-position: -172px -4px;
  }
  &.sp-pool:before {
    background-position: -172px -61px;
  }
}
