* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  .tab {
    display: table-cell;
    padding: 0 16px;
    a {
      display: block;
      padding: 16px;
      color: #333333;
      text-decoration: none;
      font-size: 13px;
      font-weight: bold;
    }
    &.active {
      color: #ee5555;
      a {
        border-bottom: 3px solid;
        color: #ee5555;
      }
    }
    &:hover {
      color: #ff9f9f;
      a {
        border-bottom: 3px solid;
        color: #ff9f9f;
      }
    }
  }
}