* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uvc {
  font-size: 0;
}

.header {
  position: fixed;
  top: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: #1a1a1c;
  color: #fff;
  .cell {
    display: table-cell;
    font-size: 0;
    height: 35px;
    vertical-align: middle;
    &.middle {
      font-size: 18px;
      font-weight: 500;
    }
    &.side {
      width: 40px;
    }
    .ico {
      vertical-align: middle;
    }
    .input {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 94%;
      margin: 0 5px;
      padding: 8px 10px;
      border-radius: 3px;
      background-color: #ebebeb;
      color: #767677;
      font-size: 12px;
      text-align: left;
      &.ico-search:after {
        position: absolute;
        right: 6px;
        top: 5px;
      }
    }
  }
  .ico {
    display: inline-block;
    &:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
  .ico-back:before {
    background: {
      image: url("images/arrow-left.svg");
      repeat: no-repeat;
    };
    filter: invert(100%);
  }
  .ico-close:before {
    background: {
      image: url("images/close.svg");
      repeat: no-repeat;
    };
    filter: invert(100%);
  }
  .ico-search:before {
    background: {
      image: url("images/search.svg");
      repeat: no-repeat;
    };
    filter: invert(100%);
  }
  div.ico-search:after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: {
      image: url("images/search.svg");
      repeat: no-repeat;
    };
  }
  .ico-logo:before {
    width: 29px;
    height: 20px;
    background: {
      image: url("images/logo.svg");
      repeat: no-repeat;
    };
  }
  .ico-menu:before {
    background: {
      image: url("images/menu.svg");
      repeat: no-repeat;
    };
    filter: invert(100%);
  }
}

.header.open + .stack-layer {
  left: 0;
}

.stack-layer {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  transition: left .7s;
  background-color: pink;
  .header {
    position: relative;
    background-color: gray;
  }
}
